<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
</head>
<body>
<h6 align="center">SIMPLY AMAZING PLACES</h6>
<h1 align="center">A Few Words About Us</h1>
<p align="center"> Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.
    Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque sit amet elementum
    ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Sed eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices.
    In pulvinar rhoncus lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet, consectetur mauris. Curabitur
    sodales semper est, vel faucibus urna laoreet vel. Ut justo diam, sodales non pulvinar at, vulputate quis neque.
    Etiam aliquam purus vel ultricies consequat.</p>

<h2 align="center">Contact us...............</h2>
<h3 align="center">9577439594</h3>
<h3 align="center">9674520349</h3>
<h3 align="center">9577439567</h3>
<h3 align="center">9674520000</h3>
</body>
</html>